{% extends 'base.html.twig' %}

{% block title %}Sexpense{% endblock %}

{% block body %}

{% if expenses %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Expense Name
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody></tbody>
    {% for expense in expenses %}
    <tr>
        <td>
            {{ expense }}
        </td>
        <td>
            <a href="/expense/1" class="btn btn-primary">Show</a>
        </td>
    </tr>
    {% endfor %}
</table>
    {% else %}
    <p>No expenses yet</p>
    {% endif %}
{% endblock %}
